# Prerequisite

Following packages must be installed to run codes below

```bash
$ pip3 install openpyxl
```

# References

In [1]:
%load_ext autoreload
%autoreload 2

# Add project path

In [2]:
import os
import sys
from pathlib import Path

PROJECT_PATH = Path().resolve().parent.parent
SRC_PATH = PROJECT_PATH / 'src'

sys.path.append(str(SRC_PATH))

In [3]:
SRC_PATH

PosixPath('/home/nicednb/src')

# Load data

In [4]:
from project_paths import DATA_PATH
from data_loader import GoogleTrendsDataLoader

CACHED_PATH = DATA_PATH / 'cached' / 'keywords_data'

data_loader = GoogleTrendsDataLoader(CACHED_PATH)

In [10]:
import pandas as pd

keywords = [
    {
        'geo' : 'KR',
        'keyword' : '삼성전자',
        'timeframe' : 'today 5-y'
    },
    {
        'geo' : 'KR',
        'keyword' : 'SK하이닉스',
        'timeframe' : 'today 5-y'
    }
]
keywords = pd.DataFrame(keywords)
keywords

  geo keyword  timeframe
0  KR    삼성전자  today 5-y
1  KR  SK하이닉스  today 5-y

In [11]:
data_loader.load_keywords(keywords)

  0%|                                                                                    | 0/2 [00:00<?, ?it/s]

/home/nicednb/data/cached/keywords_data/KR_삼성전자_2017-11-26 2022-11-11.csv The request failed: Google returned a response with code 429.

 50%|██████████████████████████████████████                                      | 1/2 [00:08<00:08,  8.14s/it]

/home/nicednb/data/cached/keywords_data/KR_SK하이닉스_2017-11-26 2022-11-11.csv The request failed: Google returned a response with code 429.

100%|████████████████████████████████████████████████████████████████████████████| 2/2 [00:15<00:00,  7.82s/it]

  geo keyword  timeframe success
0  KR    삼성전자  today 5-y    True
1  KR  SK하이닉스  today 5-y    True

In [12]:
data_path = CACHED_PATH / 'KR_SK하이닉스_2017-11-26 2022-11-11.csv'
pd.read_csv(data_path)

           date  SK하이닉스
0    2017-11-26      49
1    2017-12-03      46
2    2017-12-10      37
3    2017-12-17      44
4    2017-12-24      39
..          ...     ...
255  2022-10-16      31
256  2022-10-23      32
257  2022-10-30      27
258  2022-11-06      29
259  2022-11-13      31

[260 rows x 2 columns]